.App .App-header {
  text-align: center;
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
}

.App {
  margin: 0 auto;
  max-width: 960px;
}

body {
  background: #f9f8fe;
}

a {
  color: #9670f4;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
